.transactions-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .transactions-list-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;

    @media (max-width: 768px) {
      justify-content: center;
    }

    .search-input-group {
      width: 40%;
      min-width: 300px;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    /* No seu arquivo .scss ou .css do componente */

    .buttons-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;

      @media (max-width: 768px) {
        width: 100%;
        flex-direction: column;

        /* Isso já está funcionando para o container do componente */
        p-button {
          width: 100%;
        }

        /* ADICIONE ISTO: Força o botão INTERNO a ter 100% de largura */
        p-button ::ng-deep .p-button {
          width: 100%;
        }
      }
    }
  }
}
