
.chart-container {
  display: block; 
  width: 100%;
  min-height: 450px; 
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 100%; 
}

canvas{
  width: 100%;
}