.app-transaction-table {
  width: 100%;
  min-width: 80vw;
  max-width: 90vw;
  border-radius: 20px;

  .no-transactions-found {
    height: 30vh;
    td{
      text-align: center;
      font-size: 1.2rem;
      font-weight: 600;
      color: #666;
    }
  }
}
header {
  border-radius: 20px;
}
