.form-login{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
}

.form-login .input-group{
  width: 16vw;
  min-width: 300px;
}

.email-floatlabel{
  border-radius: 10em;
}

.password-floatlabel{
  border-radius: 0em 10em 10em 0em;
}
.password-addon{
  border-radius: 10em 0em 0em 10em;
  cursor: pointer;
}

p-button{
  margin-top: 20px;
}


