/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import 'primeicons/primeicons.css';

* {
  font-family: 'Pixelify Sans', sans-serif;
}

.custom-galleria {
  background: transparent;

  .p-galleria-content {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}
